<div style="text-align: center">
  <div class="mat-display-1"  style="margin:10px" >My first todo app in Angular 😀</div> 
  <div style="color: gray; margin:auto; text-align: left; width: 450px">
  <ul >
  <li>after click on todo you can see details about todo</li>
  <li>after click on Completed/Pending you can change status of todo</li>
  </ul></div>
  <div style="margin-bottom: 30px">
  <button (click)="onAllTasks()" routerLink="" style="background-color: dodgerblue; color:white" mat-raised-button>ALL TODOS</button>
  <button  (click)="onCompletedTasks()"  style="background-color: dodgerblue; color:white" mat-raised-button>Completed todos</button>
  <button (click)="onPendingTasks()" style="background-color: dodgerblue; color:white" mat-raised-button>Pending todos</button>
  </div>
<router-outlet></router-outlet>